body{
	margin:0px;
}

@font-face{
	font-family:"Helvetica-W01-Bold";
	src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/f70da45a-a05c-490c-ad62-7db4894b012a.eot?#iefix");
	src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/f70da45a-a05c-490c-ad62-7db4894b012a.eot?#iefix") format("eot"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/c5749443-93da-4592-b794-42f28d62ef72.woff") format("woff"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/73805f15-38e4-4fb7-8a08-d56bf29b483b.ttf") format("truetype"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/874bbc4a-0091-49f0-93ef-ea4e69c3cc7a.svg#874bbc4a-0091-49f0-93ef-ea4e69c3cc7a") format("svg");
}

@font-face{
	font-family:"Helvetica-W01-Light";
	src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/717f8140-20c9-4892-9815-38b48f14ce2b.eot?#iefix");
	src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/717f8140-20c9-4892-9815-38b48f14ce2b.eot?#iefix") format("eot"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/03805817-4611-4dbc-8c65-0f73031c3973.woff") format("woff"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/d5f9f72d-afb7-4c57-8348-b4bdac42edbb.ttf") format("truetype"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/05ad458f-263b-413f-b054-6001a987ff3e.svg#05ad458f-263b-413f-b054-6001a987ff3e") format("svg");
}

::-webkit-input-placeholder{ /* WebKit, Blink, Edge */
	color:#fff;
}
:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */
	color:#fff;
	opacity:1;
}
::-moz-placeholder{ /* Mozilla Firefox 19+ */
	color:#fff;
	opacity:1;
}
:-ms-input-placeholder{ /* Internet Explorer 10-11 */
	color:#fff;
}
::-ms-input-placeholder{ /* Microsoft Edge */
	color:#fff;
}

::placeholder{ /* Most modern browsers support this now. */
	color:#fff;
}

ul{
  list-style-type:none;
}

.youtube{
	margin:5px;
}

*:focus{
    outline:none;
}
